@import "../../variables";

.addarticle {
  &__header {
    margin: 2rem auto;
    max-width: 90rem;
    width: 80vw;
  }
  &__form {
    width: 80vw;
    margin: 0 auto;
  }

  &__input {
    &--image {
      width: 100%;
      margin: 2rem auto;
      position: relative;
      padding: 1rem;
      max-width: 90rem;
      display: block;
    }
    &--title {
      position: relative;
      box-shadow: 2px 2px 5px 0px #909090;
      padding: 1rem 1rem 1rem 2rem;
      border-radius: 5px;
      width: 100%;
      max-width: 90rem;
      margin: 0 auto;
      background-color: white;
      color: $base-purple;
    }
    &--body {
      width: 100%;
      max-width: 90rem;
      position: relative;
      margin: 0 auto;
    }
  }
}
