$dark-lilla: #1f012a;
$base-purple: #48155f;
$base-lilla: #c8a2c8;
$base-white: #f5efef;
$base-black: #313131;
$bluish-grey: rgba(34, 47, 62, 0.7);
$base-grey: #707070;
$light-grey: #f1f1f1;
$soft-grey: #e7e1e7;
$font-big: 2rem;
